<!doctype html>
<title> {% block title %} 图书管理系统 {% endblock %} </title>
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/js/bootstrap-3.3.7-dist/css/bootstrap.css">
<script src="/static/js/JQuery/jquery-2.1.4.js" type="text/javascript" charset="UTF-8"></script>
<script src="/static/js/bootstrap-3.3.7-dist/js/bootstrap.js" type="text/javascript" charset="UTF-8"></script>
<script src="/static/tiny_mce/tiny_mce.js"></script>
{% block linkjs %}

    <script type="text/javascript">
        tinyMCE.init({
            'mode':'textareas',
            'theme':'advanced',
            'width':680,
            'height':400
        });
    </script>
{% endblock %}
<div class="page">
    <h1>图书管理系统</h1>
    <div class="navigation">
        {% block link %}{% endblock %}
    </div>
    <div class="body">
        {% block body %}{% endblock %}
    </div>
    <div class="footer">
        &mdash; 华中科技大学
    </div>
</div>
    
