<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书籍详情页</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container">
        <h2> {{book.bname }}</h2>
        <ul>
            {% for hero in book.heroinfo_set.all %}
                <li> {{hero.hname}}==={{hero.hgender}}==={{hero.hcontent}}
                    <a href="{% url 'booktest:heroedit' hero.id %}">人物编辑</a>
                    <a href="{% url 'booktest:herodelete' hero.id %}">删除人物</a>
                </li>
            {% empty %}
                {{没有这个信息}}
            {% endfor %}

        </ul>

        <a href="{% url 'booktest:addhero' book.id %}">添加人物</a>
        <a href="{% url 'booktest:list' %}">返回列表页</a>


    </div>

</body>
</html>