<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人物编辑</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container">
        <h2>人物编辑</h2>
        <form action="{% url 'booktest:heroupdate' hero.id%}" method="post">
            新名称：<input type="text" name="hname">
            <br>
            人物性别：男: <input type="radio" name="gender" value="1" checked> 女: <input type="radio" name="gender" value="0">
            <br>
            人物描述：<input type="text" name="hcontent">
            <input type="submit" value="提交">
        </form>
        <a href="{% url 'booktest:detail' hero.hbook.id %}">返回详情页</a>

    </div>
</body>
</html>